services:
  db:
    image: postgres:17
    container_name: dreamarket-db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: dreamarket_db
    volumes:
      - ./volumes/postgres/data:/var/lib/postgresql/data/
      - ./backend/data/db.sql:/docker-entrypoint-initdb.d/init.sql

  backend:
    build: ./backend
    ports:
      - "3000:3000"
    env_file:
      - ./backend/.env
    depends_on:
      - db
  frontend:
    build: ./frontend
    ports:
      - "8080:80"