.navbar-item.has-dropdown.is-hoverable:hover .navbar-dropdown {
  display: flex;
  flex-wrap: wrap;
  min-width: 600px;
}

.navbar-item.has-dropdown.is-hoverable:hover .navbar-dropdown .navbar-item {
  flex: 40%;
}

.dm-btn {
  border-radius: 999px;
  font-weight: 600;
  padding: 0.6rem 1.6rem;
}

.button.is-primary,
.dm-btn.is-primary,
.button.is-primary.dm-btn {
  background-color: #1976d2;
  border-color: #1976d2;
  color: #fff;
}

.button.is-primary:hover,
.dm-btn.is-primary:hover,
.button.is-primary.dm-btn:hover {
  background-color: #1259a3;
  border-color: #1259a3;
}

.dm-img-small {
  width: 180px;
  height: 120px;
  object-fit: contain;
  display: block;
}

.dropdown.is-right .dropdown-menu {
  top: 0;
  left: 100%;
  margin-left: 0.5rem;
}

.dreamweek-tag {
  margin-top: 5px; 
  background-color: rgb(68, 1, 131); 
  color: white
}

.menu-list.menu-productos {
  width: 280px;
}

.dropdown-menu.menu-productos {
  margin-left: 2px !important;
}

.card.pag-productos {
  min-height: 380px;
}

.button.is-profile {
  margin:5px;
}